.frame {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    border:0;
}

#image {
    visibility: hidden;
}

.info {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #555;
}

.item {
    padding: 20px;
}

.toggle button {
    width: 49%;
    height: 30px;
}